
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');


header {
height: 15vh;
min-height: 135px;
width: 100%;
background-color: #CA4F49;
display: flex;
justify-content: space-between;
align-items: center;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
padding: 0px 25px;
color: #ffff;
}

.sair {
    width: 180px;
    display: flex;
    justify-content: end;
}

.botao-sair {
    background: none;
    border: none;
    font-size: 1.3em;
    color: #ffff;
    transition: all 1s ease;
}

.botao-sair:hover {
    transition: all 1s ease;
    transform: translateY(-10px);
    transform: translateX(-10px);
}

body {
background-color: #FFFF;
}

main {
background-color: #ECEBEB;
height: 70vh;
margin: 20px;
border-radius: 20px;
box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #bb3f39;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb{
    background: #1f1e1e;
    border-radius: 30px;
}

#botao{
display: flex;
justify-content: center;
align-items: center;
}

.botao-adm{  
margin: 20px 20px 0px 20px;
border: none;
border-radius: 19px;
padding: 10px 20px;
text-transform: uppercase;
font-weight: 700;
background-color: #D9D9D9;   
box-shadow: inset -3px 4px 3px rgba(0, 0, 0, 0.25);

}

.botao-adm:hover{
    background-color: #CA4F49;
    border: none;
    color: white;
    box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.pergunta{
    background-color: #E2CBCB;
    padding: 20px;
    margin: 20px;
    height: 260px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
}

.pergunta-cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}

.pergunta-campo-informacoes{
    display: flex;
}

.pergunta-imagem{
    margin-right: 10px;
    margin-left: 10px;
}

.pergunta-informacoes h1{
    font-weight: 700;
}

.pergunta-informacoes span{
    font-size: 0.7rem;
    color:  #858585;
}

.pergunta-campo-botoes{
    display: flex;
}

.editarButton{
    background-color:#44BC5F;
}

.excluirButton{
    background-color:#b9251e;
}

.pergunta-botao{
    margin: 5px;
    padding: 7px 10px;
    border: none;
    border-radius: 19px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    box-shadow: inset -3px 4px 3px rgba(0, 0, 0, 0.25);
}

.pergunta-botao:hover {
    box-shadow: 2px 3px rgba(0, 0, 0, 0.5);
}


.pergunta-camporesposta{
    width: 100%;
    height: 140px;
    border: none;
    border-radius: 0 0 19px 19px;
}




